*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
header{
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0%;
    right: 0%;
    left: 0%;
    background-color: white;
    display: flex;
    z-index: 2;
}
header nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header nav .logo{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
header nav .logo h1{
    color: gold;
    font-size: 2.5rem;
    padding-left: 10px;
    cursor: pointer;
}
header nav .nav-items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
header nav .nav-items a{
    text-decoration: none;
    font-weight: 400;
    font-size: 1.2rem;
}
header nav .nav-items input{
    padding: 5px;
    border: 1px solid grey;
    outline: none;
    border-radius: 10px;
}
header nav .nav-items a:hover{
    color: gold;
    border-radius: 2px;
}
#cart-icon{
    font-size: 1.8rem;
    cursor: pointer;
    padding: 5px;
}
.icon-count{
    position: relative;
    cursor: pointer;
}
.icon-count i{
    font-size: 1rem;
    padding: 5px;
}
#cart-count{
    position: absolute;
    top: 15px;
    right: 0;
    background: gold;
    color: white;
    font-size: 10px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
header nav .nav-items button{
    color: black;
    padding: 5px;
    background: none;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    border: none;
}
header nav .nav-items button:hover{
    color: gold;
}
.section-title{
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;
    color: gold;
}
header nav #search-filter{
    border: 1px solid black;
    border-radius: 30px;
    padding: 1px;
    /* height: 30px; */
}
header nav .nav-items  #search-filter #search-bar{
    border: none;
    outline: none;
}
header nav .nav-items  #search-filter #search-bar #filter-button{
    font-size: .6rem;
    padding-right: 3px;
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}
header nav .cards .product-cards{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.cards #product-list{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 10px;
}
.cards .product-cards #product-list li{
    list-style: none;
    width: 300px;
    margin-top: 10px;
    
}
.cards .product-cards #product-list li:hover{
    border: 1px solid #171427;
    transition: .4s;
    padding: 10px;
}

.h1{
    text-align: center;
    text-decoration: underline;
    margin-top: 20px;
    color: gold;
}
.cards .product-cards #product-list li button{
    border: none;
    background: gold;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
}
#product-list{
    position: relative;
    cursor: pointer;
}
.product-img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    margin-bottom: .5rem;
}
.product-title{
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: .5rem;
}
.product-price{
    font-weight: 500;
}
.body h2{
    padding-top: 80px;
}
.user-container{
    width: 100%;
    margin-top: 30px;
}
.user-container #user-list{
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap; 
    gap: 10px;
}
.user-container #user-list div{
    display: flex;
    width: 200px;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid grey;
    background: white;
}
.user-container #user-list div button{
    border: none;
    background: goldenrod;
    padding: 8px;
    border-radius: 10px;
}
.cart {
    position: fixed;
    top: 0;
    right: -300%; 
    width: 360px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    transition: 1.5s;
    z-index: 3;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
}

.cart.active {
    right: 0;
}
  
.cart-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}  
.cart-title {
    font-size: 22px;
    color: gold;
}
.quantity{
    padding: 5px;
}
.increase{
    background-color: gold;
    color: white;
    border-radius: 50%;
    text-align: center;
    width: 25px;
    height: 25px;
    font-size: 1.2rem;
    border: none;
}
.para{
    display: flex;
    justify-content: center;
    align-items: center;
}
.decrease{
    background-color: gold;
    color: white;
    border-radius: 50%;
    text-align: center;
    width: 25px;
    height: 25px;
    font-size: 1.2rem;
    border: none;
}
.cart-content .product-image , .product-name , .product-price , .para {
    width: 15%;
}
.total {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid #171427;
}
.total-title{
    font-size: 1rem;
    font-weight: 600;
}
.total-price{
    margin-left: .5rem;
}
.cart .buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    position: absolute;
    bottom: 10px;
    right: 0%;
    left: 0%;
}
.cart .buttons #cart-close {
    background-color: gold;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 15px;
    width: 45%;
    transition: background-color 0.3s;
}
.cart .buttons .btn-buy {
    background-color: gold;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 15px;
    width: 45%;
    transition: background-color 0.3s;
}
.cart .buttons .btn-buy:hover {
    background-color: rgb(253, 190, 30);
}
  
.cart .buttons #cart-close:hover {
    background-color: rgb(253, 190, 30);
}
.form{
    position: absolute;
    top: 300px;
    right: -650px;
    background: rgb(207, 205, 205);
    padding: 10px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}
.form.active{
    right: 50%;
}
.form label{
    font-size: 1.2rem;
}
.form input{
    width: 100%;
    margin: 5px;
    padding: 5px;
    outline: none;
}
.form textarea{
    height: 50px;
    width: 100%;
    margin: 5px;
    outline: none;
}
.form button{
    color: white;
    background: gold;
    padding: 5px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
}


  


@media (max-width:600px){
    header nav .nav-items a{
        font-size: 1rem;
    }
    header nav .nav-items button{
        font-size: .9rem;
        padding: 3px;
    }
    header nav .logo h1{
        font-size: 2rem;
    }
}
@media (max-width:600px){
    header nav .nav-items a{
        display: none;
    }
    header nav .nav-items button{
        display: none;
    }
    .body .section-title{
        font-size: 2rem;
    }
}