*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.body{
    background-image: url('./Background.jfif');
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 97vh;
}
.container .parent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    width: 30%;
    border-radius: 5px;
    background-image: linear-gradient(rgba(12, 5, 5, 0.644),rgba(13, 15, 15, 0.582));
}
.container .parent h1{
    color: white;
}
.container .parent .child{
    width: 100%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* text-align: start; */
    flex-direction: column;
}
.container .parent .child input{
    width: 100%;
    margin-top: 10px;
    height: 35px;
    border: 1px solid rgb(141, 138, 138);
    padding-left: 7px;
    outline: none;
    background: none;
    color: rgb(209, 207, 207);
    /* background-image: linear-gradient(rgba(2, 1, 1, 0.281),rgba(2, 1, 1, 0.075)); */
}
.container .parent .child p{
    padding-top: 10px;
    color: white;
}
.container .buttons{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
}
.container .buttons button{
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    background: rgba(162, 216, 238, 0.788);
    font-weight: 700;
    border: none;
    color: whitesmoke;
}
.container .buttons p{
    padding-top: 10PX;
    font-size: 1.1rem
}
footer{
    width: 100%;
}
footer p{
    width: 100%;
    color: white;
    text-align: center;
}








@media(max-width:900px){
    .container .parent{
        width: 80%;
    }

}